body {
  background: url("fridge.jpg") no-repeat fixed left;
      
}


.header {
    text-align: center;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    margin: auto;
    color: darkblue;
    background-color: lightyellow;
    height: 50%;
    width: 90%;
    opacity: 0.9;
  }

  .recipes {
    text-align: center;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: lightyellow;
    height: 90%;
    width: 70%;
    opacity: 0.9;
    
  }

  .recipes img {
    align-content: center;
    height: 240px;
    object-fit: cover;
  }

  .recipes link {
    
    color: darkblue;

  }




