body {
  background: url("fridge.jpg") no-repeat fixed left;
    
}

h1 {
 
}

.header {
    text-align: center;
    font-family: 'Lobster', 'Trebuchet MS', sans-serif;
    margin: auto;
    color: darkblue;
    background-color: lightyellow;
    height: 50%;
  width: 80%;
  opacity: 0.9;
  }



